<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>experiences</h1>
  <ul>
    <% experiences.forEach(experience => { %>
      <li>
        <%= experience.endorsements %> 
      </li>
    <% }) %> 
  </ul>
  <div>
    <form 
      action="/experiences"
      method="POST"
    >
      <input 
        type="text"
        name="endorsements"
        placeholder="Add an endorsement..."
        autocomplete="off"
      >
      <button type="submit" class="btn btn-primary">
        Add endorsement
      </button>
    </form>
  </div>
</section>

<%- include('../partials/footer') %>