main {
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
}

body {
  background-image: url('https://i.imgur.com/CyIPkyW.jpg');
  color: white;
}


#delete-plane {
  font-size: 20px;
}

input {
  font-size: 20px;
}