body{
  background-image: url('https://i.imgur.com/o6PTfoV.jpg');
}

h1{
  font-size: 68px;
}

h2{
  font-size: 40px;
}

input, button{
  font-size: 20px;
}

section{
  padding-left: 20px;
}

li{
  font-size: 40px;
}

#topics-list{
  color: white;
}

li:hover {
  color: black;
}