section {
  padding-left: 30px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

label{
  font-size: 25px;
}

tr{
  font-size: 23px;
}

button{
  font-size: 15px;
}

textarea {
  font-size: 20px;
}

body{
  background-image: url('https://i.imgur.com/CyIPkyW.jpg');
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#date {
  padding-right: 20px;
}

#comment {
  padding-left: 20px;
}

#date-comment {
  font-size: 32px;
}

.btn {
  font-size: 20px;
}